body{ max-height: 100vh; max-width: 100vw; }
.header{ text-align: center; }
#lecturer{ height: calc( 92vh - 2px ); width: 100vw; max-width: 100vw; max-height: 92vh; margin: 0;}
#developer{position: fixed; bottom: 1vh; right: 4vw;}
[class*="btn-sym-"]{position: fixed; bottom: 1vh; left: 4vw;}
.buttons{ width: 100vw; height: 40vh;  align-items: center; justify-content: center; display: flex; flex-direction: column;}
.switch{ display: flex; align-items: center; justify-content: space-evenly; margin-top: 2vh;}
.rate,.yesno{ display: none; align-items: center; justify-content: center; margin-top: 2vh;}
[class*="star-"],.thumbs{ font-size: 5vh; }
.switch,.switch-label{ font-size: 3.5vh;}
.page-footer{position: fixed; bottom: 0%; left: 0; width: 100%; padding-top: 0; transition: bottom 0.8s; height: 8vh; border-top: 2px solid cyan;}
.footer-copyright{justify-content: center;}
#total,#num,#ob,#yes_count,#no_count{ font-size: 3.5vh; }